{% extends "index2.html" %}

{% block content %}


<center>


Add Rooms
{{L}}
<form role="form" action="" method="POST">


<input type="text" name="room1" id="room1"/>
<br>
<br>

<input type="text" name="room2" id="room2"/>
<br>
<br>
<input type="text" name="room3" id="room3"/>
<br>
<br>
<input type="text" name="room4" id="room4"/>
<br>
<br>
<input type="text" name="room5" id="room5"/>
<br>
<br>

<input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit" value_="Login">
</form>

</center>

{% endblock %}
