{% extends "index.html" %}

{% block content %}
<br>
<table>
  <tr>
    <td> Mo </td>
    <td> Tu </td>
    <td> We </td>
    <td> Th </td>
    <td> Fr </td>
    <td> Sa </td>
    <td> Su </td>
  </tr>


  {% for item in L %}
<tr>
    {% for i in item %}

    <td>
      <a href="#">
        <FORM METHOD="POST" >
          <INPUT TYPE="submit" name="day" VALUE="{{i}}">

    </a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<br>
  <br>

<center>
      {% for item in G %}
      {% if item["club"] == "" %}
       <INPUT TYPE="submit" name="day" VALUE="{{item['room']}}"> 
        {% endif %}
  {% endfor %}
</FORM>

</center>
{% endblock %}
