{% extends "index.html" %}

{% block content %}
<br>
{% if message == 1 %}
<a href="/dashboard">{{ "Prev Month"}} </a>
{% else %}
<a href="/dashnext">{{ "Next Month"}} </a>

{% endif %}
<table>
  <tr>
    <td> Mo </td>
    <td> Tu </td>
    <td> We </td>
    <td> Th </td>
    <td> Fr </td>
    <td> Sa </td>
    <td> Su </td>
  </tr>

    <FORM METHOD="POST" >
  {% for item in L %}
<tr>

    {% for i in item[:] %}

    <td>
      {% if i != 0 %}
      <a href="#">

          <INPUT TYPE="submit" name="day" VALUE="{{i}}">
            {% endif %}
    </a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<br>
  <br>

<style>
input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
</style>

<center>
      {% for item in G %}
      {% if item["club"] == "" %}
       <INPUT TYPE="submit" name="day" id="style" VALUE="{{item['room']}}">
        {% endif %}
  {% endfor %}
</FORM>

</center>
{% endblock %}
