{% extends "index.html" %}

{% block content %}

<table>
  <tr>
    <td> Mo </td>
    <td> Tu </td>
    <td> We </td>
    <td> Th </td>
    <td> Fr </td>
    <td> Sa </td>
    <td> Su </td>
  </tr>


  {% for item in L %}
<tr>
    {% for i in item %}

    <td>
      <a href="#">
      {{i}}
    </a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  <br>


<center>

    </p><a href="#" onclick="toggle_visibility('foo');">Click here to toggle visibility of element #foo</a>
  <div id="foo">This is foo</div>
</center>
{% endblock %}
