{% extends "index.html" %}

{% block content %}

<center>
  <br>
  <br>
<p  style="font-size:27px">
          <b>  Sign Up </b>
  </p>

<br>
 <form role="form" action="" method="POST">

 Club Name
 <input type="text" name="name" id="name"/>
 <br>
 <br>
 Email
 <input type="text" name="email" id="email"/>
 <br>
 <br>
  Password
 <input type="password" name="pwd" id="pwd"/>
 <br>
 <br>

 <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit" value_="Signup">
 </form>
 </center>
{% endblock %}
